<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flutter Permission Kit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flutter_permission_kit_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to save your profile picture</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photos to save your profile picture</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record your voice</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need access to your speech to transcribe your voice</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to save your profile picture</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need access to your notifications to show you the best results</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need access to your location to show you the best results</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We need access to your calendar to show you the best results</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We need access to your tracking to show you the best results</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>We need access to your reminders to show you the best results</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>We need access to your bluetooth to show you the best results</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need access to your Apple Music to show you the best results</string>
	<key>NSSiriUsageDescription</key>
	<string>We need access to your Siri to show you the best results</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to your health data to provide personalized fitness insights and track your wellness goals</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need to write workout and health data to the Health app to keep your health information up to date</string>
	<key>NSMotionUsageDescription</key>
	<string>We need access to your motion and fitness data to track your daily activities, count steps, and provide fitness insights</string>
</dict>
</plist>
